<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tiendita de los Herrores
    </ion-title>
    <ion-avatar slot="end">
      <ion-badge class="posicionCarrito" color="danger">{{cestaDeLaCompra.length}}</ion-badge> 
      <!-- la variable cantidadCesta hay que definirla en home.page.ts-->
      <img (click)="sumaPrecios()" src="../../assets/Carrito dummy.png" /> 
      <!-- es mejor ajustar height en estilo pero acá se puede hacer facil, no -->
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- 
  
    la estructurita de abajo si la saco de comentarios funciona 
    fabricar una web de esta manera se llama hardcoind,
    con ngfor hacemos que la escructurita pasee por todo el array del json que 
    hemos definido en el ts export class .. private products. 
    en el fonto es otra manera de hardcoding (todo el sitio de compras estaria 
    dentro del teléfono del usuario), 
    los datos luego tienen que estar alojados en otro lugar

   <ion-list>
   <ion-item>
     <ion-label>Nombre fijo</ion-label>
     <ion-avatar>
       <img [src]="" slot="start" />
     </ion-avatar>
     <ion-label color="danger">1500</ion-label> 
   </ion-item>

 
  -->
    <ion-list>  
      <ion-item *ngFor="let prod of products" [routerLink]="['/home', prod.id]">
         <ion-avatar>
          <img [src]="prod.imagen"/>
        </ion-avatar>
        <ion-label>{{prod.nombre}}</ion-label> 
        <ion-label color ="danger"> {{prod.precio}}</ion-label>
        
        <ion-label *ngIf="prod.cantidad==0" color ="danger">SIN STOCK</ion-label>
        <ion-label *ngIf="prod.cantidad>0" color ="primary">Stock: {{prod.cantidad}} </ion-label>
      </ion-item>
      <ion-item>
<!--    <ion-label position="floating">Imagen (URL)</ion-label>
         <ion-input [(ngModel)]="nuevoProducto.imagen" type="string"></ion-input>

        <ion-label position="floating">Nombre </ion-label>
         <ion-input [(ngModel)]="nuevoProducto.nombre" type="string"></ion-input>
       
         <ion-label position="floating">Precio </ion-label>
        <ion-input [(ngModel)]="nuevoProducto.precio" type="number"></ion-input>
       
        <ion-label position="floating">Stock </ion-label>
        <ion-input [(ngModel)]="nuevoProducto.cantidad" type="number"></ion-input>
-->
        <ion-button [routerLink]="['/editor-producto', 0]" expand="block" fill="solid" color="dark" shape="round">
          Agregar
        </ion-button>
      </ion-item>
          </ion-list> <!-- OJO con los cierres-->
    <!-- ESTO LO PUSE PARA PODER ENTENDER EL PROBLEMA CON EL NUMERO QUE NO AUMENTABA
    <ion-text color="danger">
      <h3>ABAJO EL CARRITO: {{cantidadMyCesta}}</h3>
    </ion-text>
   
 <ion-list>  
  <ion-item *ngFor="let cesta of myCesta">
    <ion-avatar>
      <img [src]="cesta.imagen"/>
    </ion-avatar>
    <ion-label>{{cesta.nombre}}</ion-label> 
    <ion-label *ngIf="cesta.precio>0"color ="danger"> {{cesta.precio}}</ion-label>
    <ion-label *ngIf="cesta.cantidad>0" color ="primary">Cantidad: {{cesta.cantidad}} </ion-label>
  </ion-item>
</ion-list> 
    FIN DE ESTO LO PUSE PARA PODER ENTENDER EL PROBLEMA CON EL NUMERO QUE NO AUMENTABA --> 

 <!-- borro  
<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-list>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  -->
</ion-content>